body {
  font-family: 'Montserrat',sans-serif;
  background-color: #f1f1f1;
}

h1, h2 {
  font-size: 24px;
  padding: 20px 0;
}

label, p {
  font-size: 22px;
  padding: 10px;
}

header {
  background-color: #00c4ff;
  margin-bottom: 20px;
}

.title {
  text-align: center;
  color: white;
  padding: 25px 5px 20px 5px;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
}
.container {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

#search {
  text-align: center;
}

form {
  
  padding: 20px 10px;
  margin-bottom: 30px;

}
#result-info{
  display: none;
  margin-bottom: 30px;
  align-items: center;
  text-align: center;
}

button {
  padding: 10px 50px;
  font-size: 18px;
  background-color: #00c4ff;
  color: white;
  border-radius: 10px;
  outline: inherit;
  cursor: pointer;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  margin-top: 20px;
}

.btn-search {
  display: block;
  margin: 25px auto;
  
}

footer {
  text-align: center;
}